# dependencies
/node_modules

# next.js
/.next/
/out/

# generated
/data/cards.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env*.local

# IDE
.vscode/*
.idea/
.DS_Store

# claude
.claude/
pocketbase_local/
pb_data/
